<template>
  <div>
    <v-content>
      <v-container class="fill-height" fluid>
        <v-btn @click="onClick">Login</v-btn>
      </v-container>
    </v-content>
  </div>
</template>
<script lang="ts">
import Vue from "vue"
import queryString from "query-string"
import axios from "axios"

export default Vue.extend({
  async mounted() {
    const code: string = this.$route.query.code
    if (code) {
      return this.finishLogin(code)
    }
    const podcastApiToken = Vue.$cookies.get("podcast_api_token")
    if (podcastApiToken !== null) {
      const tokenIsValid = await this.tokenIsValid()
      if (tokenIsValid) {
        this.$router.push("/home")
      } else {
        this.$cookies.remove("podcast_api_token")
      }
    }
  },
  methods: {
    async finishLogin(code: string) {
      try {
        const response = await axios({
          url: `${process.env.VUE_APP_PODCASTS_API}/spotify/finish_login`,
          params: {
            code,
          },
          withCredentials: true,
        })
        console.log(response.data)
        this.$store.dispatch(
          "Auth/setSpotifyAccessToken",
          response.data.spotify_access_token
        )
        this.$router.push("/")
      } catch (error) {
        console.error("Login code is invalid.")
      }
    },
    async tokenIsValid(): Promise<boolean> {
      try {
        await axios({
          url: `${process.env.VUE_APP_PODCASTS_API}/auth/logged_in`,
          withCredentials: true,
        })
        return true
      } catch (error) {
        return false
      }
    },
    async onClick() {
      const query = queryString.stringify({
        client_id: "0e8cf78877ec4644a855b24f7c6104cb",
        response_type: "code",
        redirect_uri: encodeURI("http://localhost:8080/login"),
        scope: "streaming user-read-private user-read-email",
        prompt: "none",
      })
      const SPOTIFY_LOGIN_URL = `https://accounts.spotify.com/authorize?${query}`
      window.open(SPOTIFY_LOGIN_URL, "_self")
    },
  },
})
</script>
