<template>
  <div class="search-page">
    <div class="search-page__search-bar">
      <v-text-field
        placeholder="Search podcasts…"
        clearable
        solo
        fixed
        autofocus
        v-model="searchString"
        @input="onSearchInput"
      />
    </div>
    <div class="search-page__results">
      <v-card
        v-for="result in searchResults"
        :key="result.id"
        class="search-page__results__podcast"
        outlined
        @click="onPodcastClick(result.id)"
      >
        <PodcastCover
          class="search-page__results__podcast__image"
          :imageUrl="result.images[0].url"
        />
        <div class="search-page__results__podcast__description">
          {{ result.name }}
        </div>
      </v-card>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import axios from 'axios'
import PodcastCover from '../components/PodcastCover'
import { mapState } from 'vuex'
export default Vue.extend({
  components: {
    PodcastCover
  },
  data() {
    return {
      searchString: '',
      searchResults: [] as []
    }
  },
  computed: {
    ...mapState('Auth', ['spotifyAccessToken'])
  },
  methods: {
    async onSearchInput(newSearchString: string) {
      if (newSearchString === '') {
        this.searchResults = []
        return
      }

      const response = await axios({
        url: 'https://api.spotify.com/v1/search',
        headers: {
          Authorization: `Bearer ${this.spotifyAccessToken}`
        },
        params: {
          q: newSearchString,
          type: 'show'
        }
      })
      this.searchResults = response.data.shows.items
    },
    onPodcastClick(id) {
      console.log(id)
      this.$router.push({ path: `podcasts/${id}` })
    }
  }
})
</script>
<style lang="scss" scoped>
.search-page {
  width: 100%;
  height: 100%;
  position: relative;
}
.search-page__search-bar {
  width: 100%;
}
.search-page__results {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, 300px);
}
.search-page__results__podcast {
  height: 350px;
  width: 300px;
}
.search-page__results__podcast__image {
  height: 300px;
  width: 300px;
}
.search-page__results__podcast__description {
  text-overflow: ellipsis;
  text-align: center;
}
</style>
