<template>
  <div @click="onClickPlay">
    Test
  </div>
</template>
<script lang="ts">
import Vue from "vue"
import { mapState, mapActions } from "vuex"
import axios from "axios"
// The comment below is necessary for defining the Spotify SDK.
/* global Spotify */

export default Vue.extend({
  data() {
    return {
      device_id: "",
      player: null,
    }
  },
  mounted() {
    this.initializeSpotifyPlayer()
  },
  beforeDestroy() {
    console.log("before destroy")
    this.player.removeListener("ready")
  },
  computed: {
    ...mapState("Auth", ["spotifyAccessToken"]),
  },
  methods: {
    ...mapActions("Auth", ["refreshSpotifyAccessToken"]),
    async onClickPlay() {
      const spotify_uri = "spotify:episode:28ntz8xRXtDzTP9WpEK7s4"
      await this.play(spotify_uri)
    },
    async play(spotify_uri) {
      await this.refreshSpotifyAccessToken()
      await axios({
        method: "put",
        url: `https://api.spotify.com/v1/me/player/play?device_id=${this.device_id}`,
        data: { uris: [spotify_uri] },
        headers: {
          "Content-Type": "application/json",
          Authorization: `Bearer ${this.spotifyAccessToken}`,
        },
      })
      this.player.getCurrentState().then((state) => console.log(state))
    },
    initializeSpotifyPlayer() {
      const spotifyPlayerScript = document.createElement("script")
      spotifyPlayerScript.setAttribute(
        "src",
        "https://sdk.scdn.co/spotify-player.js"
      )
      window.onSpotifyWebPlaybackSDKReady = () => {
        this.player = new Spotify.Player({
          name: "Web Playback SDK Quick Start Player",
          getOAuthToken: async (callback) => {
            await this.refreshSpotifyAccessToken()
            callback(this.spotifyAccessToken)
          },
        })

        this.player.addListener("ready", ({ device_id }) => {
          console.log("Ready with Device ID", device_id)
          this.device_id = device_id
        })

        this.player.connect().then((success) => {
          if (!success) {
            console.error("Could not connect Spotify player.")
          }
        })
      }
      document.head.appendChild(spotifyPlayerScript)
    },
  },
})
</script>
