<template>
  <div
    class="podcast-cover"
    :style="podcastCoverStyle"
  />
</template>
<script>
import Vue from 'vue'
export default Vue.extend({
  props: {
    imageUrl: {
      required: false,
      default: 'http://placehold.jp/3d4070/ffffff/600x600.png?text=No%20Artwork%20Available',
      type: String
    }
  },
  computed: {
    podcastCoverStyle() {
      return { backgroundImage: `url(${this.imageUrl})` }
    }
  }
})
</script>
<style lang='scss' scoped>
.podcast-cover {
  background-size: contain;
}
</style>