<template>
  <div class="podcast" v-if="!loading">
    <PodcastCover :imageUrl="podcast.images[0].url" />
    <div>
      <div>
        <div>{{ podcast.name }}</div>
        <div>{{ podcast.publisher }}</div>
        <div>{{ podcast.description }}</div>
      </div>
      <v-expansion-panels v-if="!loading">
        <v-expansion-panel
          v-for="episode in podcast.episodes.items"
          :key="episode.id"
        >
          <v-expansion-panel-header>
            <div class="podcast__list__item">
              <v-btn icon color="white" outlined v-on:click.stop>
                <v-icon>mdi-play</v-icon>
              </v-btn>
              <div class="podcast__list__item__header">
                <div class="podcast__list__item__header__date">
                  {{ getFormattedPublishedDate(episode.release_date) }}
                </div>
                <div>{{ episode.name }}</div>
              </div>
            </div>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <div v-if="episode.description">{{ episode.description }}</div>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import axios from 'axios'
import moment from 'moment'
import PodcastCover from '@/components/PodcastCover.vue'
import { Spotify } from './PodcastInterfaces'
import { mapState } from 'vuex'

export default Vue.extend({
  components: {
    PodcastCover
  },
  data() {
    return {
      podcast: null as Spotify.Podcast
    }
  },
  async mounted() {
    try {
      console.log(this.spotifyAccessToken)
      if (!this.$route.params.id) {
        console.error('Podcast not found.')
        return
      }
      this.podcast = await this.getPodcast()
    } catch (error) {
      console.error('No podcast found')
    }
  },
  methods: {
    async getPodcast(): Promise<Spotify.Podcast> {
      const id = this.$route.params.id
      const response = await axios({
        url: `https://api.spotify.com/v1/shows/${id}`,
        headers: {
          Authorization: `Bearer ${this.spotifyAccessToken}`
        }
      })
      return response.data
    },
    getFormattedPublishedDate(pubDate: string) {
      return moment(pubDate).format('dddd, MMMM Do YYYY')
    },
    onClickPlay(audioUrl: string) {
      this.$store.dispatch('AudioPlayer/startAudio', { audioUrl })
    }
  },
  computed: {
    ...mapState('Auth', ['spotifyAccessToken']),
    loading() {
      return this.spotifyAccessToken === null || this.podcast === null
    }
  }
})
</script>
<style lang="scss" scoped>
.podcast {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 16px;
}
.podcast__list__item {
  display: flex;
}
.podcast__list__item__header {
  padding-left: 20px;
}
.podcast__list__item__header__date {
  margin-bottom: 4px;
}
</style>
