<template>
  <v-app>
    <Login v-if="showLoginPage" />
    <div v-else>
      <v-navigation-drawer v-model="drawer" app clipped>
        <v-list dense>
          <v-list-item link to="/">
            <v-list-item-action>
              <v-icon>mdi-headphones</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Home</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item link to="/search">
            <v-list-item-action>
              <v-icon>mdi-magnify</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Search</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>

      <v-app-bar app clipped-left>
        <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
        <v-toolbar-title>Podcasts</v-toolbar-title>
      </v-app-bar>

      <v-content>
        <v-container fill-height fluid>
          <router-view></router-view>
        </v-container>
      </v-content>

      <v-footer app large>
        <AudioPlayer></AudioPlayer>
      </v-footer>
    </div>
  </v-app>
</template>

<script lang="ts">
import Login from "./pages/Login"
import AudioPlayer from "./components/AudioPlayer"
import axios from "axios"
export default {
  components: {
    Login,
    AudioPlayer,
  },
  props: {
    source: String,
  },
  data: () => ({
    drawer: null,
  }),
  created() {
    this.$vuetify.theme.dark = true
  },
  computed: {
    showLoginPage() {
      return this.$route.path === "/login"
    },
  },
}
</script>
